.relatorio {
  justify-content: space-evenly;
}

.relatorio div {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 90%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.relatorio div label {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.relatorio .bodyRelatorio input {
  outline: none;
  border: none;
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
}

.headRelatorio,
.bodyRelatorio,
.relatorio button {
  font-size: 1em;
  box-shadow: 3px 3px 6px #000;
}

.relatorio button {
  width: 90%;
  color: #fff;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid limegreen;
  outline: none;
  padding: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.relatorio button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 450px) {
  .bodyRelatorio label {
    width: 100%;
    flex-direction: column;
  }
}
